<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">  
</head>
<body>
    <div class="container-sm">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <strong>¿Cuáles son los horarios de atención?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    Lunes a Sábado  7:30 am a 7:30 pm.</div>
                <div class="accordion-body">Domingo y festivos  7:30 am a 2:00 pm.</div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <strong>¿Dónde se encuentra ubicada la tienda?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Carrera 8a # 4-57 La Plata-Huila.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  <strong>¿ Cuáles son los métodos de pago aceptados?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Tarjetas de crédito y débito.
                </div>
                <div class="accordion-body">Pago en efectivo, punto de tienda físico.</div>
                <div class="accordion-body">Transferencias bancarias.</div>
                <div class="accordion-body">Nequi.</div>
                <div class="accordion-body">Efecty.</div>
                <div class="accordion-body">PayPal</div>
                <div class="accordion-body">PSE</div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    <strong>¿Ofrecen servicios de entrega a domicilio?</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Si se realiza servicio a domicilio, después de realizar la debida selección de productos, y su respectivo pago. 
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                    <strong>¿Cuál es el tiempo de entrega a domicilio?</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    La tienda tiene un tiempo máximo de 30 minutos para alistar el pedido, y ya  depende del lugar donde sea el envío.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                    <strong>¿ Cuál es su política de precios y ofertas especiales?</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Las política de precios pueden variar según la estrategia comercial de la tienda, donde se optan por precios competitivos, ofreciendo precios más bajos que sus competidores para atraer a los clientes. Las ofertas especiales, suelen utilizarse para promocionar productos o servicios, para incentivar a los clientes a realizar compras adicionales, donde cada oferta o descuento es por tiempo limitado.  

                  </div>
                </div>
              </div>

          </div>    
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>    
</html>